.DS_Store
DEV.md
tests/testdata/store
tests/testdata/uploadspec
downloadspec
downloadstore
temppath
tests/testdata/downtemp
downloadpath
downloadtemp
internal/testdata/downloadstore
video.mp4
storespec
*.csv
internal/store/testdata/leveldb
temp
.tmp
tmp
.vscode